.contactUs {
      width: 600px;

      border: 1px solid #95A0A7;
      box-sizing: border-box;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      margin-top: 1800px;
      margin-left: 500px;
      padding: 40px;
}

.contact-title {
      text-align: center;
      color: brown;
}

.input-group {
      margin-bottom: 20px;
}

.input-group label {
      display: block;
      margin-left: 5px;
}

.input-group input {
      width: 518px;
      height: 45px;
      border: 1px solid #95A0A7;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      padding-left: 5px;
}

.input-group textarea {
      width: 518px;
      height: 85px;
      border: 1px solid #95A0A7;
      box-sizing: border-box;
      border-radius: 5px;
      font-size: 16px;
      padding-left: 5px;
}

.form-submit {
      width: 518px;
      height: 55px;
      background-color: rgba(255, 153, 0, 0.3);
      border-radius: 5px;
      border: none;
      font-size: 20px;
      cursor: pointer;

}

.form-submit:hover {
      background-color: rgba(255, 153, 0, 0.5);
}

/*responsive*/
@media only screen and (max-width:576px) {
      .contactUs {
            width: 300px;


            margin-top: 5100px;
            margin-left: 50px;

      }

      .input-group {
            margin-bottom: 10px;
      }

      .input-group label {
            display: block;
            margin-left: 5px;
      }

      .input-group input {
            width: 115px;
            height: 35px;

            padding-left: 5px;
      }

      .form-submit {
            width: 115px;
            height: 35px;

      }
}

@media only screen and (min-width:577px)and (max-width:992px) {
      .contactUs {
            width: 600px;


            margin-top: 3100px;
            margin-left: 80px;

      }

      .input-group {
            margin-bottom: 20px;
      }

      .input-group label {
            display: block;
            margin-left: 5px;
      }

      .input-group input {
            width: 215px;
            height: 45px;

            padding-left: 5px;
      }

      .form-submit {
            width: 215px;
            height: 45px;
      }
}