.footer-style {
      margin-top: 50px;
      text-align: center;
      background-color: black;
      color: aliceblue;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

}